<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:replace="~{::title}">GarMusic</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
          integrity="sha512-8XzIsZ0GsLdGCP6tyBFlJmG91Q3ctnAN0yA9UMLnG+yGnSzV2JGZVvZbHAXA8t1m9OnrjHDsCGfB0m0v8Fs1zQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <style>
        body {
            font-family: 'Segoe UI', sans-serif;
            background: linear-gradient(135deg, #f0f4ff, #fafafa);
            margin: 0;
            padding-bottom: 120px; /* чтобы не перекрывал мини-плеер */
        }
    </style>
</head>
<body>

<!-- Контент страницы -->
<div th:replace="~{::content}"></div>

<!-- Мини-плеер -->
<div th:replace="~{/fragments/mini-player :: miniPlayer}"></div>

</body>
</html>
